@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Hi, @context.User.Identity.Name. Welcome back!</h1>
        Let's admire <NavLink href="army">your beloved army.</NavLink>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome to Blazor Battles!</h1>
        <Login />
    </NotAuthorized>
</AuthorizeView>
